
/ngwdocker.yaml
/docker-compose*.yaml
/build/*
/.env

/config/*
/secret/*
/package/*
/backup/*
/work/*


.vscode/*
*.code-*

.env*

__pycache__
*.py[cod]
*.egg-info
/env
/doc/_build

.DS_Store
.idea
